<div class="container" >
  <div class="row">
    <div class="col s7" >
      <div class="card #ffe0b2 orange lighten-4">
        <div class="row">
          <div class="col m10 offset-m1 s6">
            <h4 class="center-align">Contact Form</h4>
            <div class="row">
              <form class="col s12" novalidate #f="ngForm" (ngSubmit)="save(f.value,f.valid)">
                <div class="row">
                  <div class="input-field col m6 s12">
                    <input type="text" id="firstName" name="firstName" #name="ngModel" [(ngModel)]="user.firstName" required minlength="5">
                    <small [hidden]="name.valid || (name.pristine && !f.submitted)">Name is required</small>
                    <label for="firstName">First Name</label>
                  </div>
                  <div class="input-field col m6 s12">
                    <label for="lastName">Last Name</label>
                    <input id="lastName" type="text" name="lastName" #name="ngModel" [(ngModel)]="user.lastName" required minlength="4">
                    <small [hidden]="name.valid || (name.pristine && !f.submitted)">Name is required</small>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col m6 s12">
                    <label for="email">Email</label>
                    <input id="email" type="email" name="email" #name="ngModel" [(ngModel)]="user.email" required minlength="5">
                    <small [hidden]="name.valid || (name.pristine && !f.submitted)">Email is required</small>
                  </div>
                  <div class="input-field col m6 s12">
                    <label for="subject">Subject</label>
                    <input id="subject" type="text" name="subject" #name="ngModel" [(ngModel)]="user.subject" >
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <label for="message">Message</label>
                    <textarea id="message" class="materialize-textarea" name="message" [(ngModel)]="user.message" #name="ngModel" required minlength="5" maxlength="500"></textarea>
                    <small [hidden]="name.valid || (name.pristine && !f.submitted)">Message is required</small>
                  </div>
                </div>

                <div class="row">
                  <div class="col m12">
                    <button class="btn btn-medium bt waves-effect waves-light right-align" type="submit">Send Message</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s5">
      <div id="objects"  class="">
        <div class="card center-align">
          <h4>{{ title }}</h4>
          <ul class="hide-on-med-and-down">
            <li><i class="tiny material-icons">location_on</i>hall five 2 <sup>nd</sup>floor room No_ 1218</li>
            <li><i class="tiny material-icons">email</i> <strong>Email: </strong> benitoite@gmail.com</li>
            <li><i class="tiny material-icons">call</i><strong>Phone: </strong> 0654988047,</li>
            <ol><li> 0656783433,</li><li>  0712890033</li></ol>
            <li><i class="tiny material-icons">public</i><a target="_blank" [href]="'file://' + outputPath ">benitoite.co.tz</a>
            </li>
          </ul>

          <h6> Thanks for visiting our site </h6>
        </div>
      </div>
    </div>
    <div class="container col s12">
    </div>
  </div>
</div>
