<header id ="header" class="container-fluid">
  <div class="row">
    <!--loge comes here-->
    <div class="col xs12 s12 m6">
      <div class="logo-image">
        <a href="">
         <span id="logobg" ><img class="logo-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdthtR7SQAF634WW1x-TMy82KirHXL3bjB6GbQLgsq0s2InVBq">
         </span>
        </a>
      </div>
    </div>
    <!--end of the logo codes-->

    <!--start of the contact codes-->
    <div class="col xs12 s12 m6">
      <div class="right-align ">
        <div class="customer-contact">
          <ul>
            <li>
              <div class="material">
                <div class="info-box-content">
                  <span class="headr-icon"><i class="medium material-icons">phone</i><strong>Email: </strong> benitoite@gmail.com</span>
                  <p>Phone: +255 (0) 654988047</p>
                </div>
              </div>
            </li>
            <li>
              <div class="material">
                <p class="material-title"><a href="">
                  <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#000000" d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z" />
                  </svg>
                </a></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--end of the cntact code to the right-->
  </div>
</header>
<!--the en of header-->
<nav class=" #7986cb indigo lighten-2" id="navigation">
  <div class="nav-wrapper">
    <a href="" class="brand-logo">{{ title }}</a>
    <a href="#" data-activates="nav-mobile" class="button-collapse" materialize="sideNav"><i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about_us" routerLinkActive="active">about</a></li>
      <li><a routerLink="/our_service" routerLinkActive="active">Our service</a> </li>
      <li><a routerLink="portfolio" routerLinkActive="portfolio">portfolio</a></li>
      <li><a routerLink="team" routerLinkActive="active">Team</a> </li>
      <li><a routerLink="contact" routerLinkActive="active">Contact</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about_us" routerLinkActive="active">about</a></li>
      <li><a routerLink="/our_service" routerLinkActive="active">Our service</a> </li>
      <li><a routerLink="portfolio" routerLinkActive="portfolio">portfolio</a></li>
      <li><a routerLink="team" routerLinkActive="active">Team</a> </li>
      <li><a routerLink="contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </div>
</nav>
